@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(110deg, #061423 0%, #03101e 48%, #102033 100%);
  background-attachment: fixed;
  color: white;

  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}